.distribution-banner-wrapper {
  display: flex;
  margin-top: 20px;
  width: 1260px;
  align-items: center;
}

.distribution-banner-text {
  width: 50%;
  margin-left: 20px;
}

.distribution-banner-text-item {
  font-family: 'FiraSansRegular';
  color: #333333;
  font-size: 16px;
  margin-bottom: 15px;

}

.distribution-map-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
  margin-top: 30px;
  padding-top: 80px;
  position: relative;
  background-color: black;
  width: 1260px;
}

.distribution-map-info {
  width: 400px;
}

.distribution-map {
  width: 600px;

  display: flex;
  justify-content: center;
}

.distribution-info-top-row {
  display: flex;
  justify-content: space-between;
  width: 32%;

  position: absolute;
}

.distribution-top-row-item {
  width: 100px;
  background: lightgray;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-family: 'FiraSansRegular';
  color: black;
  font-size: 16px;
  cursor: pointer
}

.distribution-top-row-item-active {
  width: 100px;
  background: #F99E2C;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-family: 'FiraSansRegular';
  color: black;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px -2px rgba(150,150,150,0.91);
}

.distribution-manager-name {
  font-family: 'FiraSansRegular';
  color: #ffffff;
  font-size: 19px;
  margin-top: 60px;
}

.distribution-manager-phone {
  font-family: 'FiraSansRegular';
  color: #ffffff;
  font-size: 18px;
}

.distribution-choose-city {
  margin-top: 25px;
  
  display: flex;
}

.distribution-choose-heading {
  font-family: 'FiraSansRegular';
  color: white;
  font-size: 17px;

}

.distribution-select-wrapper {
  width: 200px;
  height: 30px;

  font-family: 'FiraSansRegular';
  color: #333333;
  font-size: 17px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.distribution-select-wrapper:focus {
  outline: none;
}

.distribution-cities-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:40px 0 40px;
  max-height: 550px;
}

.distribution-city {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  border-radius: 3px;
}


.distribution-cities-store-name {
  font-family: 'FiraSansRegular';
  color: #333333;
  font-size: 16px;
}

.distribution-cities-address {
  font-family: 'FiraSansRegular';
  color: #333333;
  font-size: 17px;
}

.distribution-heading-region {
  font-family: 'FiraSansRegular';
  color: #ffffff;
  position: absolute;
  margin-top: -50px;
}

.villages-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.distribution-select-option {
  font-family: 'FiraSansMedium';
  color: #333333;
  font-size: 16px;
  margin-top: 5px;
}

.distribution-select-option22 {
  font-family: 'FiraSansMedium';
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
}

.distribution-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}